@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "VazirFont";
    src: url("../public/Fonts/Vazirmatn-Medium.ttf") format('truetype') ;
}

.swiper-pagination-bullet-active {
    background: #7B3EAB;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #0c0c;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: #cbd5e1;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #7B3EAB;
    border-radius: 14px;
  }